<template name="logout"></template>
<template name="register">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>註冊新帳號</h4>
                        <p class="center">Join to our community now !</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" type="text">
                        <label for="username" class="center-align">登入帳號</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-face-unlock prefix"></i>
                        <input id="chtname" type="text">
                        <label for="chtname" class="center-align">中文姓名</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        <input id="email" type="email">
                        <label for="email" class="center-align">電子信箱</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password">
                        <label for="password">密碼</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password-again" type="password">
                        <label for="password-again">確認密碼</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div id="form-messages" style="color: darkmagenta;"></div>
                        <!-- <a href="/login" class="btn waves-effect waves-light col s12">註冊</a> -->
                        <button class="btn waves-effect waves-light " type="submit" name="action">註冊</button>
                        
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">已經有帳號了? <a href="/login">登入頁面</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<template name="forgot">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>忘記密碼 ?</h4>
                        <p class="center">You can reset your password</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" type="text">
                        <label for="username" class="center-align">登入帳號</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12"><!-- 
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password">
                        <label for="password">Password</label> -->
                        <i class="mdi-communication-email prefix"></i>
                        <input id="email" type="email">
                        <label for="email" class="center-align">電子信箱</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a href="index.html" class="btn waves-effect waves-light col s12">找回密碼</a>
                    </div>
                    <div class="input-field col s12">
                        <div id="form-messages" style="color: darkmagenta;"></div>
                        <p class="margin sign-up"><a href="/login">登入頁面</a> <a href="/register" class="right">註冊新帳號</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<template name="login">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="/logo.png" alt="" class="circle responsive-img valign profile-image-login">
                        <p class="center login-form-text">桃園佛教蓮社</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" type="text">
                        <label for="username" class="center-align">帳號</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password">
                        <label for="password" class="active">密碼</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <input name="remember-me" type="checkbox" id="remember-me" />
                        <label for="remember-me">記住我的帳號</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center">
                        <div id="form-messages" style="color: darkmagenta;"></div>
                        <!-- <a href="/" class="btn waves-effect waves-light col s12">登入</a> -->
                        <button class="btn waves-effect waves-light " type="submit" name="action">登入</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a href="/register">註冊新帳號</a></p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="/forgot">忘記密碼 ?</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
