.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding: 0px 14px;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 37.5px 0 12px;
}


@media only screen and (min-width: 993px) {
  #content {
    margin-top: 20px; } }

/* CSS declarations go here */

nav {
	background-color: #93278D;
}

ul.side-nav.leftside-navigation li.active > a {
    color: #ab47bc;
}
ul.side-nav.leftside-navigation li a {
    font-size: 16px;
}

.side-nav .collapsible-body li a {
    margin: 0 1rem 0 2rem;
}

#breadcrumbs-wrapper {
    background: #F9F9F9;
}
.page-description{
	font-size: 14px;
    color: gray;
}

/*.jsgrid-table select {
    display: inline;
}
*/
.jsgrid-table input, .jsgrid-table select {
	border-color: #B5B3B3;
}
.jsgrid-grid-body tbody td{
    overflow: hidden;
}

/* my own class */
.my-insert-btn button{
	background-color: #009688;
    border: 1px solid #477B1C;
}
.my-insert-btn button:hover{
	background-color: #02776C;
    border: 1px solid #477B1C;
}
    
.webix_template{
    background-color: #DDD;
}
/*.input-field label {
    top: -0.7rem;
}*/

.jsgrid-table input[type="checkbox"] {
    opacity: 1;
}