<template name="loginTemplate">
    <link href="/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">

    <style type="text/css">
    .login-form-text {
        font-size: 1.2rem;
    }
    </style>

    <!-- Start Page Loading -->
    <!--   <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div> -->
    <!-- End Page Loading -->
    {{> yield }}
</template>
