<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>桃園佛教蓮社 | 資訊管理系統</title> 
    <!-- Favicons-->
    <link rel="icon" href="/favicon.ico?v=2" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/logo.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#E04E73">
    <meta name="msapplication-TileImage" content="/logo.png">
    
</head>
<template name="home">請點選左側選單
    <br>
    <br>
    <br>
    <h1>使用說明：</h1>
    <div class="row">
        <div class="col s12 m10 l10">
            <img src="/info/capture1.jpg" style="max-width:100%;">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l10">
            <img src="/info/capture2.jpg" style="max-width:100%;">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l10">
            <img src="/info/capture3.jpg" style="max-width:100%;">
        </div>
    </div>
</template>
<template name="hello_menu_right">
    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
        <ul id="chat-out" class="side-nav rightside-navigation">
            <li class="li-hover">
                <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                <div id="right-search" class="row">
                    <form class="col s12">
                        <div class="input-field">
                            <i class="mdi-action-search prefix"></i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Search</label>
                        </div>
                    </form>
                </div>
            </li>
            <li class="li-hover">
                <ul class="chat-collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                        <div class="collapsible-body recent-activity">
                            <div class="recent-activity-list chat-out-list row">
                                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                                </div>
                                <div class="col s9 recent-activity-list-text">
                                    <a href="#">just now</a>
                                    <p>Jim Doe Purchased new equipments for zonal office.</p>
                                </div>
                            </div>
                            <div class="recent-activity-list chat-out-list row">
                                <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                                </div>
                                <div class="col s9 recent-activity-list-text">
                                    <a href="#">Yesterday</a>
                                    <p>Your Next flight for USA will be on 15th August 2015.</p>
                                </div>
                            </div>
                            <div class="recent-activity-list chat-out-list row">
                                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                </div>
                                <div class="col s9 recent-activity-list-text">
                                    <a href="#">5 Days Ago</a>
                                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                                </div>
                            </div>
                            <div class="recent-activity-list chat-out-list row">
                                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                                </div>
                                <div class="col s9 recent-activity-list-text">
                                    <a href="#">Last Week</a>
                                    <p>Jessy Jay open a new store at S.G Road.</p>
                                </div>
                            </div>
                            <div class="recent-activity-list chat-out-list row">
                                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                </div>
                                <div class="col s9 recent-activity-list-text">
                                    <a href="#">5 Days Ago</a>
                                    <p>Natalya Parker Send you a voice mail for next conference.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                        <div class="collapsible-body sales-repoart">
                            <div class="sales-repoart-list  chat-out-list row">
                                <div class="col s8">Target Salse</div>
                                <div class="col s4"><span id="sales-line-1"></span>
                                </div>
                            </div>
                            <div class="sales-repoart-list chat-out-list row">
                                <div class="col s8">Payment Due</div>
                                <div class="col s4"><span id="sales-bar-1"></span>
                                </div>
                            </div>
                            <div class="sales-repoart-list chat-out-list row">
                                <div class="col s8">Total Delivery</div>
                                <div class="col s4"><span id="sales-line-2"></span>
                                </div>
                            </div>
                            <div class="sales-repoart-list chat-out-list row">
                                <div class="col s8">Total Progress</div>
                                <div class="col s4"><span id="sales-bar-2"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                        <div class="collapsible-body favorite-associates">
                            <div class="favorite-associate-list chat-out-list row">
                                <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                </div>
                                <div class="col s8">
                                    <p>Eileen Sideways</p>
                                    <p class="place">Los Angeles, CA</p>
                                </div>
                            </div>
                            <div class="favorite-associate-list chat-out-list row">
                                <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                </div>
                                <div class="col s8">
                                    <p>Zaham Sindil</p>
                                    <p class="place">San Francisco, CA</p>
                                </div>
                            </div>
                            <div class="favorite-associate-list chat-out-list row">
                                <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                </div>
                                <div class="col s8">
                                    <p>Renov Leongal</p>
                                    <p class="place">Cebu City, Philippines</p>
                                </div>
                            </div>
                            <div class="favorite-associate-list chat-out-list row">
                                <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                </div>
                                <div class="col s8">
                                    <p>Weno Carasbong</p>
                                    <p>Tokyo, Japan</p>
                                </div>
                            </div>
                            <div class="favorite-associate-list chat-out-list row">
                                <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                </div>
                                <div class="col s8">
                                    <p>Nusja Nawancali</p>
                                    <p class="place">Bangkok, Thailand</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</template>
<template name="hello_float">
    <!-- Floating Action Button -->
    {{> hello_float}}
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large">
            <i class="mdi-action-stars"></i>
        </a>
        <ul>
            <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
            <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
            <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
            <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
        </ul>
    </div>
    <!-- Floating Action Button -->
</template>
<template name="hello_content">
    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">
                        {{ page_title }} 
                        <span class="page-description">
                            <i>{{ page_description }}</i>
                        </span>
                    </h5>
                    <!-- <ol class="breadcrumbs">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Blank Page</li>
                </ol> -->
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->
    <!--start container-->
    <div class="container">
        <div class="section">
            {{> yield }}
            <!-- <p class="caption">A Simple Blank Page to use it for your custome design and elements.</p> -->
            <!-- <div class="divider"></div> -->
        </div>
        <!-- Floating Action Button -->
        {{! > hello_float}}
        <!-- Floating Action Button -->
    </div>
    <!--end container-->
</template>
<template name="hello_footer">
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
</template>
<template name="hello">
    <!-- Start Page Loading -->
    <!--  <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->
    <!-- End Page Loading -->
    {{> hello_header }}
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            {{> hello_menu_left }}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                {{> hello_content }}
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {{> hello_menu_right }}
            <!-- LEFT RIGHT SIDEBAR NAV-->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    {{! > hello_footer }}
    <!-- <script type="text/javascript" src="/packages/my-materialize/js/plugins.js"></script> -->
</template>
