<template name="bCounting">
    <div id="modal1" class="modal modal-fixed-footer">
        <form class="form-modal1">
            <div class="modal-content">
                <h4>新增會計帳</h4>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <div class="input-field col s12">
                            <input name="date" type="date" class="datepicker">
                            <!-- <label>日期</label> -->
                        </div>
                    </div>
                    <div class="col s12 m6 l5">
                        <div class="input-field col s12">
                            <input name="deposit" id="deposit" type="text" class="text">
                            <label for="deposit">存入</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field col s12">
                            <input name="cost1" id="cost1" type="text" class="text">
                            <label for="cost1">費用(1)</label>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field col s12">
                            <input name="cost2" id="cost1" type="text" class="text">
                            <label for="cost2">費用(2)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field col s12">
                            <input name="cost3" id="cost3" type="text" class="text">
                            <label for="cost3">費用(3)</label>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field col s12">
                            <input name="cost4" id="cost4" type="text" class="text">
                            <label for="cost4">費用(4)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field col s12">
                            <input name="cost5" id="cost5" type="text" class="text">
                            <label for="cost5">費用(5)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"><p></p>
            </div> -->
            </div>
            <div class="modal-footer">
                <div class="modal1-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel">取消</a>
                <!-- <a href="#" class="my-btn-submit waves-effect waves-green btn-flat">送出</a> -->
                <button class="btn waves-effect waves-light" type="submit" name="action">送出</button>
            </div>
        </form>
    </div>
    <!--     <div id="modal1-btn">
        <a class="my-open-modal1 waves-effect waves-light btn light-blue" href="#modal1"><i class="fa fa-plus"></i> 新增商品</a>
    </div> -->
    <!-- <br> -->
    <!-- <div id="divA" style="width: 100%;height:100%;display:inline-block;"></div> -->
    <div id="bCounting"></div>
    <br><br><br><br>
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal1 btn-floating btn-large">
            <i class="fa fa-plus"></i>
        </a>
    </div></template>