<template name="bPeople">
    <div class="row">
        <div class="col s12 m5 l3">
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-find-in-page prefix"></i>
                    <input id="icon_prefix3" type="text" class="validate">
                    <label for="icon_prefix3">尋找信眾</label>
                </div>
            </div>
            <div id="bPeople"></div>
        </div>
        <div class="col s12 m7 l9">
            <div class="row">
                <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header active">個人資訊</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">詳細資訊</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs z-depth-1 cyan">
                                        <li class="tab col s3"><a class="white-text waves-effect waves-light active" href="#sapien">業績一覽</a>
                                        </li>
                                        <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#activeone">薪資記錄</a>
                                        </li>
                                        <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#activeone">發佣狀況</a>
                                        </li>
                                        <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#activeone">檔案上傳</a>
                                        </li>
                                        <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#vestibulum">操作記錄</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12">
                                    <div id="sapien" class="col s12  cyan lighten-4">
                                        <p>Pellentesque habdidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscdidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                            <li>Aliquam tincidunt mauris eu risus.</li>
                                            <li>Vestibulum auctor dapibus neque.</li>
                                        </ol>
                                    </div>
                                    <div id="activeone" class="col s12  cyan lighten-4">
                                        <dl>
                                            <dt>Definition list</dt>
                                            <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                            <dt>Lorem ipsum dolor sit amet</dt>
                                            <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                        </dl>
                                    </div>
                                    <div id="vestibulum" class="col s12  cyan lighten-4">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
