<template name="cAccounting">
    <div class="row">
        <div class="col s12 m2 l2">
            <div class="input-field col s12">
                <select id="cashier-year">
                            <option value="">所有年度</option>
                            {{#each get_year}}
                            <option value="{{id}}">{{value}}</option>
                            {{/each}}
                        </select>
                <label id="" class="">年度</label>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="input-field col s12">
                <select id="cashier-pray1">
                            <option value="">所有項目</option>
                            {{#each get_pray1}}
                            <option value="{{_id}}">{{value}}</option>
                            {{/each}}
                        </select>
                <label id="" class="">法會種類</label>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="input-field col s12">
                <select id="cashier-pray2">
                            <option value="">所有項目</option>
                            {{#each get_pray2}}
                            <option>{{value}}</option>
                            {{/each}}
                        </select>
                <label id="" class="">法會項目</label>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="input-field col s12">
                <select id="cashier-pay-status">
                            <option value="">所有記錄</option>
                            <option value="1">尚未付清</option>
                            <option value="2">已付清</option>
                        </select>
                <label id="" class="">付款狀況</label>
            </div>
        </div>
    </div>
    <div id="cPraying1"></div>
</template>