<template name="cCashier">
    {{> cModalPay}}
    <!--     <div id="modal1-btn">
        <a class="my-open-modal1 waves-effect waves-light btn light-blue" href="#modal1"><i class="fa fa-plus"></i> 新增商品</a>
    </div> -->
    <!-- <br> -->
    <!-- <div id="divA" style="width: 100%;height:100%;display:inline-block;"></div> -->
    <!-- <div class="row">
        <div class="col s12 m6 l6">
            <div class="input-field col s12">
                <i class="prefix">
                    <span class="glyphicon glyphicon-barcode"></span>
                </i>
                <input name="ordernum" id="m2-barcode" type="text" class="text" autofocus>
                <label class="active" for="m2-barcode">收款單條碼輸入</label>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col s12 m2 l2">
            <div class="input-field col s12">
                <select id="cashier-year">
                        <option value="">所有年度</option>
                        {{#each get_year}}
                        <option value="{{id}}">{{value}}</option>
                        {{/each}}
                    </select>
                <label id="" class="">年度</label>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="input-field col s12">
                <select id="cashier-pray1">
                        <option value="">所有項目</option>
                        {{#each get_pray1}}
                        <option value="{{_id}}">{{value}}</option>
                        {{/each}}
                    </select>
                <label id="" class="">法會種類</label>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="input-field col s12">
                <select id="cashier-pray2">
                        <option value="">所有項目</option>
                        {{#each get_pray2}}
                        <option>{{value}}</option>
                        {{/each}}
                    </select>
                <label id="" class="">法會項目</label>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="input-field col s12">
                <select id="cashier-pay-status">
                        <option value="">所有記錄</option>
                        <option value="1">尚未付清</option>
                        <option value="2">已付清</option>
                    </select>
                <label id="" class="">付款狀況</label>
            </div>
        </div>
    </div>
    <div id="cPraying1"></div>
</template>