<template name="cModalLight">
    <style type="text/css">
        #modal8a {
            max-height: 80% !important;
            height: 80%;
            width: 90%;
            z-index: 999;
            top: 100px
        }
    </style>
    <div id="modal8a" class="modal">
        <div class="modal-content">
            <form class="form-modal8a">
                <!-- <h4 id="modal8a-header-text" class="header">點燈服務</h4> -->
                <header>
                    <button class="btn my-btn-cancel8a grey" style=" float: right; margin-right: 5px;">離開</button>
                    <button class="btn my-btn-new8a" style=" float: right; margin-right: 5px;">新建</button>
                    <div align="" style="display: block; font-size: 25px">點燈服務 - <span id="ordernum-header2"></span></div>
                    <BR>
                </header>
                <div class="divider"></div>
                <div class="section">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="row">
                                <!--     <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <h6 id="p1-ordernum"></h6>
                                        <label class="active" for="p1-ordernum">編號</label>
                                    </div>
                                </div> -->
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="date" id="p8a-date" type="date" class="datepicker">
                                        <!-- <input name="date" id="p1-date" type="text" class="text"> -->
                                        <label class="active" for="p8a-date">申請日期</label>
                                    </div>
                                    <!--   <label>申請日期</label>
                                            <h6 id="show_name_eng"></h6> -->
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <!-- <input name="year" id="p8a-year" type="text" class="text"> -->
                                        <select id="p8a-year" name="year" class="browser-default">
                                            {{#each get_mgyear}}
                                            <option value="{{value}}">{{value}}</option>
                                            {{/each}}
                                        </select>
                                        <label class="active" for="p8a-year">年度</label>
                                    </div>
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <select id="p8a-whoapply" name="apply_id" class="browser-default ">
                                            <!-- <option value="" disabled selected>請選擇</option> -->
                                        </select>
                                        <label class="active">申請人</label>
                                    </div>
                                </div>
                                <!-- 
                            </div>
                            <div class="row"> -->
                                <!-- 
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="lightserial" id="p8a-lightserial" type="text" class="text">
                                        <label id="p8a-lightserial-label" class="active" for="p8a-lightserial">序號</label>
                                    </div>
                                </div> -->
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="price_total" id="p8a-cash" type="text" class="text">
                                        <label id="p8a-cash-label" class="active" for="p8a-cash">應收金額</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn form8a-btn-del my-btn-delete8a indigo lighten-2" style=" float: right; margin-right: 5px;" disabled="disabled"
                                    type="button">刪除</button>
                                <button class="btn form8a-btn-save my-btn-submit8a" style=" float: right; margin-right: 5px;" disabled="disabled" type="button">儲存</button>
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <div id="cLight1"></div>
                            <BR>
                        </div>
                    </div>
                    <div class="row">
                        <div id="cLight2" class=""></div>
                    </div>
                </div>
                <BR>
                <BR>
            </form>
        </div>
        <!--  <div class="modal-footer">
                <div class="row">
                    <div class="modal8a-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel8a">取消</a>
                    <button class="my-btn-submit8a btn waves-effect waves-light" type="submit" name="action">新增</button>
                </div>
            </div> -->
    </div>
    <button class="my-open-modal8a btn waves-effect waves-light yellow darken-3" type="button" name="action">
        <i class="mdi-content-add right"></i>點燈
    </button>
</template>