<template name="cModalPay">
    <style>
        #modal1 {
            max-height: 85%;
            height: 85%;
            width: 90%;
            z-index: 999;
            top: 100px;
        }
    </style>
    <div id="modal1" class="pdf-show modal modal-fixed-footer">
        <form class="form-modal1">
            <div class="modal-content">
                <h4 class="header">列印<span id="modal1-header-text"></span>
                    <a id="pdf_url" href="#" target="_blank">(開新頁面)</a>
                    <!-- <span class="my-extra-url-link"></span> -->
                </h4>
                <div class="divider"></div>
                <iframe id="pdf-iframe" class="pdf-iframe" width="100%" height="700" src="" border="0"></iframe>
            </div>
            <div class="modal-footer">
                <div class="modal1-error left pink-text lighten-1"></div>
                <!-- <span>aaa</span> -->
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel10">關閉</a>
                <button class="my-btn-submit1 btn waves-effect waves-light" type="button" name="action">列印</button>
            </div>
        </form>
    </div>
    <div id="modalPay" class="modal modal-fixed-footer" style="z-index: 999">
        <form class="form-modal8">
            <div class="modal-content">
                <h4>付款內容 - <span class="pay-number"></span></h4>
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <input name="shouldpay" id="p4a-cash-paid1" readonly type="text" class="text" style="color: #aaaaaa;">
                            <label id="p4a-cash-paid1-label" class="active" for="p4a-cash-paid1">應收</label>
                        </div>
                    </div>
                    <div class="col s12 m1 l1" style="padding-top: 20px; font-size: 24px;">-
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <input name="cash_paid" id="p4a-cash-paid2" readonly type="text" class="text" style="color: #aaaaaa;">
                            <label id="p4a-cash-paid2-label" class="active" for="p4a-cash-paid2">-已收</label>
                        </div>
                    </div>
                    <div class="col s12 m1 l1" style="padding-top: 20px; font-size: 24px;">=
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <input name="cash_balance" id="p4a-cash-paid3" readonly type="text" class="text" style="color: #aaaaaa;">
                            <label id="p4a-cash-paid3-label" class="active" for="p4a-cash-paid3">=未收</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <input name="paid_date" id="p4a-date-paid" type="date" class="datepicker">
                            <label class="active" for="p4a-date-paid">收款日期</label>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <select name="paymethod" id="p4a-paymethod" class="browser-default ">
                                {{#each objPayMethod}}
                                <option value="{{id}}">{{value}}</option>
                                {{/each}}
                            </select>
                            <label class="active">收款方式</label>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="input-field col s12">
                            <i class="mdi-editor-attach-money prefix"></i>
                            <input name="received" id="p4a-cash-now" type="text" class="text">
                            <label id="p4a-cash-now-label" class="" for="p4a-cash-now">本次收款金額</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="p4a-ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                    <div class="col s12 m3 l3" style="padding-top: 20px">
                        <button class="my-btn-submit8 btn waves-effect waves-light" type="button" name="action">確認付款</button>
                    </div>
                </div>
                <div id="cPay"></div>
            </div>
            <div class="modal-footer">
                <div class="modal8-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel8">關閉</a>
            </div>
        </form>
    </div>
</template>