<template name="cModalPray">
    {{> cModalPay}}
    <style type="text/css">
        #modal4a {
            /*max-height: 85%;*/
            /*height: 85%;*/
            width: 90%;
            z-index: 999;
        }
    </style>
    <div id="modal4a" class="modal">
        <div class="modal-content">
            <!-- <h4 id="modal4a-header-text" class="header">法會服務</h4> -->
            <header>
                <button class="btn my-btn-cancel4a grey right" style="margin-right: 5px;">離開</button>
                <button class="btn form4a-btn-del my-btn-delete4a indigo lighten-2 right" style="margin-right: 5px;" disabled="disabled"
                    type="button">刪除</button>
                <button class="btn my-btn-dup4a right light-green" disabled="disabled" style="margin-right: 5px;">複製</button>
                <button class="btn my-btn-new4a right" style="margin-right: 5px;">新建</button>
                <span class="right" style="margin-right: 10px;font-size: 20px;">應收 $<span class="title-cash">0</span> - 已收
                $<span class="title-cash-paid">0</span> = 未收 $<span class="title-cash-balance">0</span></span>
                <div align="" style="display: block; font-size: 25px">法會服務 - <span id="ordernum-header"></span></div>
                <BR>
            </header>
            <div class="divider"></div>
            <div class="section">
                <!--  <h5 id="modal4a-title1"></h5> -->
                <!--   <div class="row">
                        <div class="col s12 m12 l10 offset-l1">
                            <button class="btn-flat waves-effect waves-light" type="button" name="action">新增</button>
                            <button class="btn-flat waves-effect waves-light" type="button" name="action">儲存</button>
                            <button class="btn-flat waves-effect waves-light right" type="button" name="action">離開</button>
                            <BR>
                        </div>
                    </div> -->
                <div class="row">
                    <div class="col s12 m7 l7">
                        <form class="form-modal4a">
                            <div class="row">
                                <!--     <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <h6 id="p1-ordernum"></h6>
                                        <label class="active" for="p1-ordernum">編號</label>
                                    </div>
                                </div> -->
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="date" id="p4a-date" type="date" class="datepicker">
                                        <!-- <input name="date" id="p1-date" type="text" class="text"> -->
                                        <label class="active" for="p4a-date">申請日期</label>
                                    </div>
                                    <!--   <label>申請日期</label>
                                            <h6 id="show_name_eng"></h6> -->
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <!-- <input name="year" id="p4a-year" type="text" class="text"> -->
                                        <select id="p4a-year" name="year" class="browser-default">
                                            {{#each get_mgyear}}
                                            <option value="{{value}}">{{value}}</option>
                                            {{/each}}
                                        </select>
                                        <label class="active" for="p4a-year">年度</label>
                                    </div>
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <select id="p4a-whoapply" name="whoapply" class="browser-default">
                                            <!-- <option value="" disabled selected>請選擇</option> -->
                                        </select>
                                        <label class="active">申請人</label>
                                    </div>
                                </div>
                                <!-- <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <select id="p4a-whoapply2" name="whoapply2" class="browser-default">
                                        </select>
                                        <label class="active">捐款人</label>
                                    </div>
                                </div> -->
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <select id="p4a-prayname" name="prayname" class="browser-default ">
                                            <!-- <option value="" disabled selected>請選擇</option> -->
                                            {{#each get_pray1}}
                                            <option value="{{_id}}">{{value}}</option>
                                            {{/each}}
                                        </select>
                                        <label class="active">法會名稱</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <select id="p4a-prayitem" name="prayitem" class="browser-default ">
                                            <option value="" disabled selected>請選擇</option>
                                        </select>
                                        <label class="active">法會項目 (價錢)</label>
                                    </div>
                                </div>
                                <div class="col s12 m2 l2">
                                    <div class="input-field col s12">
                                        <input name="prayserial" id="p4a-prayserial" type="text" class="text">
                                        <label id="p4a-prayserial-label" class="" for="p4a-prayserial">序號</label>
                                        <!-- <label class="active" for="p4a-prayserial">序號</label> -->
                                    </div>
                                </div>
                                <div class="col s12 m2 l2">
                                    <div class="input-field col s12">
                                        <input name="cash1" id="p4a-cash1" type="number" class="text">
                                        <label id="p4a-cash1-label" class="" for="p4a-cash1">法會項目 價錢</label>
                                    </div>
                                </div>
                                <div class="col s12 m2 l2">
                                    <div class="input-field col s12">
                                        <input name="cash2" id="p4a-cash2" type="number" class="text">
                                        <label id="p4a-cash2-label" class="" for="p4a-cash2">+外加價錢</label>
                                    </div>
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="cash" id="p4a-cash" type="number" class="text" readonly="readonly">
                                        <label id="p4a-cash-label" class="" for="p4a-cash">=應收</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m2 l2">
                                    <div class="input-field col s12">
                                        <input name="booknum" id="p4a-booknum" type="text" class="text">
                                        <label id="p4a-booknum-label" class="" for="p4a-booknum">緣簿編號</label>
                                    </div>
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="ps" id="p4a-ps2" type="text" class="text">
                                        <label id="p4a-ps2-label" class="" for="p4a-ps2">備註</label>
                                    </div>
                                </div>

                                <!-- <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="cash_paid" id="p4a-cash-paid" type="text" disabled="disabled" class="text">
                                        <label id="p4a-cash-paid-label" class="" for="p4a-cash-paid">已收金額</label>
                                    </div>
                                </div>
                                <div class="col s12 m3 l3">
                                    <div class="input-field col s12">
                                        <input name="cash_balance" id="p4a-cash-balance" disabled="disabled" type="text" class="text">
                                        <label id="p4a-cash-balance-label" class="" for="p4a-cash-balance">剩餘金額</label>
                                    </div>
                                </div> -->
                                <!--    </div>
                            <div class="row"> -->
                                <div class="col s12 m7 l7 right-align" style="padding-top:18px">
                                    <button class="btn form4a-btn-save my-btn-submit4a" style=" margin-top: 2px; margin-right: 5px;" disabled="disabled" type="button">儲存</button>
                                    <button class="btn my-open-modal10 amber darken-2" style=" margin-top: 2px; margin-right: 5px;" disabled="disabled" type="button">繳款單</button>
                                    <button class="btn my-open-modal8  deep-orange darken-4" style=" margin-top: 2px; margin-right: 5px;" disabled="disabled"
                                        type="button">付款</button>
                                    <button class="btn my-open-modal12 brown darken-3" style=" margin-top: 2px; margin-right: 5px;" disabled="disabled" type="button">收據</button>
                                    <!-- <button class="btn form4a-btn-del my-btn-delete4a indigo lighten-2" style=" margin-top: 2px; margin-right: 5px;" disabled="disabled" type="button">刪除</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12 m5 l5">
                        <div id="cPray1"></div>
                        <BR>
                    </div>
                </div>
                <div class="row">
                    <div id="cPray2" class=""></div>
                    <div id="cPray2-hidden" class="center">
                        <BR>
                        <BR> 請先點「儲存」或點選過往記錄
                    </div>
                    <BR>
                </div>
            </div>
            <BR>
        </div>
        <!--  <div class="modal-footer">
                <div class="row">
                    <div class="modal4a-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel4a">取消</a>
                    <button class="my-btn-submit4a btn waves-effect waves-light" type="submit" name="action">新增</button>
                </div>
            </div> -->
    </div>
    <div id="modal4b" class="modal modal-fixed-footer">
        <form class="form-modal4b">
            <div class="modal-content">
                <h4 id="modal4b-header-text" class="header">新增法會列印項目</h4>
                <div class="divider"></div>
                <div class="section">
                    <!--  <h5 id="modal4b-title1"></h5> -->
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="input-field col s12">
                                <select id="p4b-type" name="type" class="browser-default">
                                    <!-- <option value="" disabled selected>請選擇</option> -->
                                    {{#each get_praytype}}
                                    <option data-def="{{def_value}}" value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">列印種類</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8 l9">
                            <div class="input-field col s12">
                                <input name="livename_text" id="p4a-livename_text" type="text" class="text">
                                <label id="p4a-livename_text-label" class="" for="p4a-livename_text">陽上</label>
                            </div>
                        </div>
                        <div class="col s12 m4 l3">
                            <div class="input-field col s12">
                                <button class="my-open-modal4b1 btn waves-effect waves-light purple lighten-1" type="button" name="action">選擇</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8 l9">
                            <div class="input-field col s12">
                                <input name="passname_text" id="p4a-passname_text" type="text" class="text">
                                <label id="p4a-passname_text-label" class="" for="p4a-passname_text">拔渡</label>
                            </div>
                        </div>
                        <div class="col s12 m4 l3">
                            <div class="input-field col s12">
                                <button class="my-open-modal4b2 btn waves-effect waves-light light-blue darken-1" type="button" name="action">選擇</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m11 l11">
                            <div class="input-field col s12">
                                <input name="addr" id="p4a-addr" type="text" class="text">
                                <label id="p4a-addr-label" class="" for="p4a-addr">地址</label>
                            </div>
                        </div>
                    </div>
                </div>
                <BR>
                <BR>
                <BR>
                <BR>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="modal4b-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel4b">取消</a>
                    <button class="my-btn-submit4b btn waves-effect waves-light" type="submit" name="action">新增</button>
                    <!-- <button class="my-btn-submit2b btn waves-effect waves-light" type="submit" name="action">新增</button> -->
                </div>
            </div>
        </form>
    </div>
    <div id="modal4b1" class="modal modal-fixed-footer">
        <form class="form-modal4b1">
            <div class="modal-content">
                <h4 id="modal4b-header-text" class="header">代入陽上資料</h4>
                <div class="divider"></div>
                <div class="section">
                    <style>
                        td {
                            padding: 0px;
                        }
                    </style>
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">主</th>
                                <th data-field="name">
                                    <input type="checkbox" id="b1-test2" />
                                    <label for="b1-test2">姓名</label>
                                </th>
                                <th data-field="price">地址</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each get_livepeople}}
                            <tr>
                                <td>
                                    <p>
                                        <input name="name1" type="radio" id="test1-{{_id}}" value="{{name}}" />
                                        <label for="test1-{{_id}}"></label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <input name="name2" type="checkbox" id="test2-{{_id}}" value="{{name}}">
                                        <label for="test2-{{_id}}">{{name}}</label>
                                    </p>
                                </td>
                                <td>
                                    <p>{{addr}}</p>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <BR>
                <BR>
                <BR>
                <BR>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="modal4b1-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel4b1">取消</a>
                    <button class="my-btn-submit4b1 btn waves-effect waves-light" type="submit" name="action">代入本筆 (主,副,...)</button>
                    <button class="my-btn-submit6b2 btn waves-effect waves-light purple" type="button" name="action" style="margin-right: 5px">新增多筆 <span class="type-sel-text"></span></button>
                    <!-- <button class="my-btn-submit2b btn waves-effect waves-light" type="submit" name="action">新增</button> -->
                </div>
            </div>
        </form>
    </div>
    <div id="modal4b2" class="modal">
        <form class="form-modal4b2">
            <div class="modal-content">
                <header>
                    <button class="btn my-btn-cancel4b2 grey" type="button" style=" float: right; margin-right: 5px;">離開</button>
                    <div align="" style="display: block; font-size: 25px">代入拔渡資料</div>
                    <!-- <h4 id="modal4b-header-text" class="header"></h4> -->
                    <BR>
                </header>
                <div class="divider"></div>
                <div class="section">
                    <style>
                        td {
                            padding: 0px;
                        }
                    </style>
                    <label for="b2-test2">名稱</label> {{#each get_passpeople}}
                    <p>
                        {{#if isSelected name}}
                        <button data-val="{{name}}" data-addr="{{addr}}" id="test2b-1" class="my-btn-submit4c1 waves-effect waves-light" type="button"
                            name="action">代入</button> {{else}}
                        <button data-val="{{name}}" data-addr="{{addr}}" id="test2b-1" class="my-btn-submit4c0 waves-effect waves-light" type="button"
                            name="action">代入</button> {{/if}} {{name}} {{addr}}
                    </p>
                    {{/each}}
                    <BR>
                    <BR>
                    <label for="b2-test2">系統預設</label>
                    <p>
                        <button data-val="氏歷代祖先" id="test2b-1" class="my-btn-submit4c1 waves-effect waves-light" type="button" name="action">代入</button>                        氏歷代祖先
                    </p>
                    <p>
                        <button data-val="累劫冤親債主" id="test2b-2" class="my-btn-submit4c2 waves-effect waves-light" type="button" name="action">代入</button>                        累劫冤親債主
                    </p>
                    <p>
                        <button data-val="地基主" id="test2b-3" class="my-btn-submit4c3 waves-effect waves-light" type="button" name="action">代入</button>                        地基主
                    </p>
                    <p>
                        <button data-val="嬰靈" id="test2b-4" class="my-btn-submit4c4 waves-effect waves-light" type="button" name="action">代入</button>                        嬰靈
                    </p>
                </div>
                <BR>
            </div>
            <!--        <div class="modal-footer">
                <div class="row">
                    <div class="modal4b2-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel4b2">取消</a>
                    <button class="my-btn-submit4b2 btn waves-effect waves-light" type="button" name="action">代入</button>
                </div>
            </div> -->
        </form>
    </div>
    <button class="my-open-modal4a btn waves-effect waves-light deep-orange" type="button" name="action">
        <i class="mdi-content-add right"></i>法會
    </button>
</template>