<template name="cNewclient">
    <div id="modal2" class="modal modal-fixed-footer" style="z-index: 999">
        <form class="form-modal2">
            <div class="modal-content">
                <h4 id="modal2-header-text" class="header"></h4>
                <div class="divider"></div>
                <div class="section">
                    <!--  <h5 id="modal2-title1"></h5> -->
                    <div class="row">
                        <div class="col s12 m5 l5">
                            <div class="input-field col s12">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input name="name" id="name" type="text" class="text">
                                <label for="name">姓名</label>
                            </div>
                        </div>
                        <div class="col s12 m2 l2 live-form-field">
                            <div class="input-field col s12">
                                <select id="sexual" name="sexual" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_sexual}}
                                    <option value="{{id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">姓別</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3 live-form-field">
                            <div class="input-field col s12">
                                <input name="identity" id="identity" type="text" class="text">
                                <label for="identity">身分證號碼</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3 pass-form-field">
                            <div class="input-field col s12">
                                <input name="lifeYear" id="lifeYear" type="text" class="text">
                                <label for="lifeYear">享壽</label>
                            </div>
                        </div>
                        <div class="col s6 m2 l2 live-form-field">
                            <div class="input-field col s12">
                                <select id="zodiac_id" name="zodiac_id" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_zodiac}}
                                    <option value="{{id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">生肖</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 m3 l3">
                            <div class="input-field col s12">
                                <input name="birthday" id="birthday" type="text" class="">
                                <label class="active" for="birthday">生日(國)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <!-- <i class="mdi-content-mail prefix"></i> -->
                                <input name="bornYear" id="bornYear" type="text" class="text">
                                <label for="bornYear">生年(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <input name="bornMonth" id="bornMonth" type="text" class="text">
                                <label for="bornMonth">生月(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <input name="bornDay" id="bornDay" type="text" class="text">
                                <label for="bornDay">生日(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <select id="bornTime" name="bornTime" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_time}}
                                    <option value="{{id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">生時</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pass-form-field">
                        <div class="col s3 m3 l3">
                            <div class="input-field col s12">
                                <input name="passdate" id="passdate" type="date" class="date">
                                <label class="active" for="passdate">卒日(國)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <!-- <i class="mdi-content-mail prefix"></i> -->
                                <input name="passYear" id="passYear" type="text" class="text">
                                <label for="passYear">卒年(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <input name="passMonth" id="passMonth" type="text" class="text">
                                <label for="passMonth">卒月(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <input name="passDay" id="passDay" type="text" class="text">
                                <label for="passDay">卒日(農)</label>
                            </div>
                        </div>
                        <div class="col s3 m2 l2">
                            <div class="input-field col s12">
                                <select id="passTime" name="passTime" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_time}}
                                    <option value="{{id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">卒時</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 m3 l3">
                            <div class="input-field col s12">
                                <input name="post5code" id="post5code" type="text" class="text">
                                <label id="m2-post5code" for="post5code">郵遞區號</label>
                            </div>
                        </div>
                        <div class="col s12 m9 l9">
                            <div class="input-field col s12">
                                <input name="addr" id="addr" type="text" class="text">
                                <label id="m2-addr" for="addr">地址</label>
                            </div>
                        </div>
                        <!--    <div class="col s12 m2 l2">
                            <a class="waves-effect waves-light btn">...</a>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                                <li class="">
                                    <div class="collapsible-header"><i class="mdi-action-home"></i>地址選擇</div>
                                    <div class="collapsible-body" style="display: none;">
                                        <div class="row">
                                            <div class="col s12 m3 l3">
                                                <div class="input-field col s12">
                                                    <select id="addr1" name="addr1" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                        {{#each get_addr1}}
                                                        <option value="{{value}}">{{value}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <label class="active">縣市</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m3 l3">
                                                <div class="input-field col s12">
                                                    <select id="addr2" name="addr2" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                    </select>
                                                    <label class="active">區</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m3 l3">
                                                <div class="input-field col s12">
                                                    <select id="addr3" name="addr3" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                    </select>
                                                    <label class="active">路</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m3 l3">
                                                <div class="input-field col s12">
                                                    <select id="addr4" name="addr4" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                    </select>
                                                    <label class="active">號</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row live-form-field live-addr-select">
                                            <div class="col s12 m10 l10">
                                                <div class="input-field col s12">
                                                    <select id="addrlist" name="addrlist" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                    </select>
                                                    <label class="active">陽上地址</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pass-form-field">
                                            <div class="col s12 m10 l10">
                                                <div class="input-field col s12">
                                                    <select id="addrlist2" name="addrlist2" class="browser-default">
                                                        <option value="" disabled selected>請選擇</option>
                                                    </select>
                                                    <label class="active">拔渡地址</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col s12 m5 l5">
                                                <div class="input-field col s12">
                                                    <button type="button" class="addr-key">0</button>
                                                    <button type="button" class="addr-key">1</button>
                                                    <button type="button" class="addr-key">2</button>
                                                    <button type="button" class="addr-key">3</button>
                                                    <button type="button" class="addr-key">4</button>
                                                    <button type="button" class="addr-key">5</button>
                                                    <button type="button" class="addr-key">6</button>
                                                    <button type="button" class="addr-key">7</button>
                                                    <button type="button" class="addr-key">8</button>
                                                    <button type="button" class="addr-key">9</button>
                                                    <button type="button" class="addr-key">之</button>
                                                </div>
                                            </div>
                                            <div class="col s12 m7 l7">
                                                <div class="input-field col s12">
                                                    <button type="button" class="addr-key">市</button>
                                                    <button type="button" class="addr-key">縣</button>
                                                    <button type="button" class="addr-key">鄉</button>
                                                    <button type="button" class="addr-key">鎮</button>
                                                    <button type="button" class="addr-key">區</button>
                                                    <button type="button" class="addr-key">路</button>
                                                    <button type="button" class="addr-key">街</button>
                                                    <button type="button" class="addr-key">巷</button>
                                                    <button type="button" class="addr-key">弄</button>
                                                    <button type="button" class="addr-key">號</button>
                                                    <button type="button" class="addr-key">樓</button>
                                                    <button type="button" class="addr-key2">←</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <BR>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row live-form-field">
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <i class="mdi-hardware-smartphone prefix"></i>
                                <input name="cellphone" id="cellphone" type="text" class="text">
                                <label for="cellphone">行動電話</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="telephone" id="telephone" type="text" class="text">
                                <label for="telephone">住家電話</label>
                            </div>
                        </div>
                        <div class="col s12 m5 l5">
                            <div class="input-field col s12">
                                <i class="mdi-content-mail prefix"></i>
                                <input name="email" id="email" type="text" class="text">
                                <label for="email">電子信箱</label>
                            </div>
                        </div>
                    </div>
                    <div class="row live-form-field">
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <select id="templeClass" name="templeClass" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_class}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">班別</label>
                                <!-- <i class="mdi-hardware-smartphone prefix"></i> -->
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <select id="templeLevel" name="templeLevel" class="browser-default">
                                    <option value="" disabled selected>請選擇</option>
                                    {{#each get_level}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">身份</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="memberId" id="memberId" type="text" class="text">
                                <label for="memberId">社員編號</label>
                            </div>
                        </div>
                    </div>
                    <div class="row live-form-field">
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="longLive" id="longLive" type="text" class="text">
                                <label for="longLive">功德堂</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="buddhawall" id="buddhawall" type="text" class="text">
                                <label for="buddhawall">天王殿萬佛牆</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="lotus" id="lotus" type="text" class="text">
                                <label for="lotus">往生堂</label>
                            </div>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field col s12">
                                <input name="lotus2" id="lotus2" type="text" class="text">
                                <label for="lotus2">淨土堂</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <div class="divider"></div>
                        <div class="col s12 m6 l6">
                            <div class="input-field col s12">
                                <input name="fin_addr" id="fin_addr" type="text" class="text">
                                <label for="fin_addr">備註</label>
                            </div>
                        </div>
                    </div>
                </div> -->
                <BR>
                <BR>
                <BR>
                <BR>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="modal2-error left pink-text lighten-1" style=""></div>
                    <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel2">取消</a>
                    <button class="my-btn-submit2a btn waves-effect waves-light" type="submit" name="action">新增</button>
                    <button class="my-btn-submit2b btn waves-effect waves-light" type="submit" name="action">新增</button>
                    <button class="my-btn-submit3 btn waves-effect waves-light" type="submit" name="action">新增</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 m12 l10">
            <div class="row">
                <div class="input-field col s10">
                    <i class="mdi-action-find-in-page prefix"></i>
                    <input id="icon_prefix3" type="text" class="validate" autofocus oninput="Template.cNewclient.loadClients()" onpropertychange="Template.cNewclient.loadClients()" >
                    <!-- <input id="icon_prefix3" type="text" class="validate" autofocus > -->
                    <label for="icon_prefix3">尋找信眾姓名、身分證、電話、手機、地址</label>
                </div>
            </div>
            <div id="cNewclient"></div>
        </div>
    </div>
    <div class="row">
        <span class="op-btn" style="display: none;">{{> cModalPray }} {{ > cModalLight }}
        <button class="my-open-modal6 btn waves-effect waves-light lime darken-3" type="button" name="action">
            <i class="mdi-file-folder-shared right"></i>列印家庭資料
        </button>
        </span>
        <button class="my-open-modal2a btn waves-effect waves-light pink darken-3" type="button" name="action">
            <i class="mdi-social-person-add right"></i>新增家庭戶長
        </button>
        <div id="show-client-detail" class="col s12 m12 l12">
            <!--             <button class="btn waves-effect waves-light amber darken-2" type="button" name="action">
                <i class="mdi-content-add right"></i>點燈
            </button> -->
            <div class="row">
                <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header active white-text deep-purple lighten-1">陽上 <span id="show_uid"></span> <span id="show_name"></span>
                            <!-- 戶長： --><span id="show_reviewval"></span> </div>
                        <div class="collapsible-body deep-purple lighten-5">
                            <div id="cLive"></div>
                            <p>
                                <!-- <a class="my-open-modal2b btn-floating waves-effect waves-light purple"><i class="mdi-content-add"> 新增</i></a> -->
                                <button class="my-open-modal2b btn waves-effect waves-light purple darken-3" type="button" name="action">
                                    <i class="mdi-social-person-add right"></i>新增家庭成員
                                </button>
                                <a class="my-del-family waves-effect waves-light purple lighten-2 btn right" data-id="{{now_familyid}}"><i class="mdi-action-delete right"></i>刪除整戶</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active white-text light-blue darken-1">拔渡</div>
                        <div class="collapsible-body light-blue lighten-5">
                            <div id="cPass"></div>
                            <p>
                                <!-- <a class="my-open-modal3 btn-floating waves-effect waves-light light-blue"><i class="mdi-content-add"> 新增</i></a> -->
                                <button class="my-open-modal3 btn waves-effect waves-light light-blue darken-3" type="button" name="action">
                                    <i class="mdi-social-person-add right"></i>新增拔渡對象
                                </button>
                            </p>
                        </div>
                    </li>
                    <li style="display: none;">
                        <div class="collapsible-header active white-text deep-orange darken-2">法會</div>
                        <div class="collapsible-body deep-orange lighten-5">
                            <div class="row">
                                <div class="col s10 m5 l5">
                                    <!-- <div id="cPray1"></div> -->
                                    <p>
                                        <a class="my-open-modal4a btn-floating waves-effect waves-light deep-orange"><i class="mdi-content-add"> 新增</i></a>
                                    </p>
                                </div>
                                <div class="col s12 m7 l7 my-praying2-detail">
                                    <div class="deep-purple lighten-3">法會資料</div>
                                    <div class="row">
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-ordernum"></h6>
                                                <label class="active" for="p1-ordernum">編號</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-date"></h6>
                                                <!-- <input name="date" id="p1-date" type="date" class="datepicker"> -->
                                                <!-- <input name="date" id="p1-date" type="text" class="text"> -->
                                                <label class="active" for="p1-date">申請日期</label>
                                            </div>
                                            <!--   <label>申請日期</label>
                                            <h6 id="show_name_eng"></h6> -->
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-whoapply"></h6>
                                                <!-- 
                                                <select id="p1-whoapply" name="whoapply" class="browser-default ">
                                                    <option value="" disabled selected>請選擇</option>
                                                </select> -->
                                                <label class="active">申請人</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-cash"></h6>
                                                <!-- <input name="cash" id="p1-cash" type="text" class="text"> -->
                                                <label class="active" for="p1-cash">應收金額</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-year"></h6>
                                                <!-- <input name="year" id="p1-year" type="text" class="text"> -->
                                                <label class="active" for="p1-year">年度</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-prayname"></h6>
                                                <label class="active">法會名稱</label>
                                            </div>
                                            <!-- <label>法會名稱</label>
                                            <h6 id="show_birthday"></h6> -->
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-prayitem"></h6>
                                                <!-- <select id="p1-prayitem" name="prayitem" class="browser-default ">
                                                    <option value="" disabled selected>請選擇</option>
                                                </select> -->
                                                <label class="active">法會項目</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m3 l3">
                                            <div class="input-field col s12">
                                                <h6 id="p1-prayserial"></h6>
                                                <!-- <input name="prayserial" id="p1-prayserial" type="text" class="text"> -->
                                                <label class="active" for="p1-prayserial">序號</label>
                                            </div>
                                        </div>
                                        <!--     <div class="col s12 m4 l4">
                                            <label class="active">建檔日期</label>
                                            <h6 id="p1-date"></h6>
                                        </div>
                                        <div class="col s12 m4 l4">
                                            <div class="input-field col s12">
                                                <select id="p1-whocreate" name="whocreate" class="">
                                                    <option value="" disabled selected>請選擇</option>
                                                    {{#each get_time}}
                                                    <option value="{{id}}">{{value}}</option>
                                                    {{/each}}
                                                </select>
                                                <label>建檔人</label>
                                            </div>
                                            <div style="display: none;" id="show_agent_id"></div>
                                        </div> -->
                                    </div>
                                    <p>
                                        <a class="my-btn-delete4a waves-effect waves-light deep-orange lighten-2 btn right" style="margin-left:10px; margin-right:0px;padding-right:10px" data-id="{{now_familyid}}"><i class="mdi-action-delete right"></i>刪除</a>
                                        <!-- <button class="btn waves-effect waves-light right deep-orange" type="submit" name="action">儲存</button> -->
                                        <br>
                                    </p>
                                    <p>
                                        <a class="my-open-modal4b btn-floating waves-effect waves-light deep-orange"><i class="mdi-content-add"> 新增</i></a>
                                    </p>
                                    <div class="deep-purple lighten-3">付款狀態</div>
                                    <div id="cBook"></div>
                                    <div class="row" id="show-acc-insert">
                                        <form class="form-4acc">
                                            <div class="col s12 m2 l2">
                                                <div class="input-field col s12">
                                                    <select id="p1-acc-status" name="status" class="browser-default ">
                                                        <option value="" disabled selected>請選擇</option>
                                                        <option value="1">已付清</option>
                                                        <option value="2">尚有餘額</option>
                                                    </select>
                                                    <label class="active">付款狀態</label>
                                                </div>
                                                <!-- <label>付款狀態</label>
                                                <h6 id="p1-acc-status">尚未付款</h6> -->
                                            </div>
                                            <div class="col s12 m2 l2">
                                                <div class="input-field col s12">
                                                    <input name="shouldpay" id="p1-shouldpay" type="text" class="text">
                                                    <label class="active" for="p1-shouldpay">應收金額</label>
                                                </div>
                                                <!-- <label>應收金額</label>
                                                <h6 id="p1-shouldpay"></h6> -->
                                            </div>
                                            <div class="col s12 m4 l3">
                                                <div class="input-field col s12">
                                                    <i class="mdi-editor-attach-money prefix"></i>
                                                    <input name="paid" id="p1-paid" type="text" class="text">
                                                    <label for="p1-paid">已收金額</label>
                                                </div>
                                                <!--    <label>已收金額</label>
                                            <h6 id="show_cellnum"></h6> -->
                                            </div>
                                            <div class="col s10 m4 l2">
                                                <div class="input-field col s12">
                                                    <input name="paidday" id="p1-paidday" type="date" class="datepicker" value="{{get_today}}">
                                                    <label class="active" for="p1-paidday">付款日期</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m5 l3">
                                                <p>
                                                    <a href="#" class="my-btn-submit-acc waves-effect waves-light btn deep-orange">送出</a>
                                                    <!-- <a class="my-open-modal2b btn-floating waves-effect waves-light purple"><i class="mdi-content-add"> 新增</i></a> -->
                                                </p>
                                                <!-- <p><button class="btn waves-effect waves-light right deep-orange" type="submit" name="action">送出</button></p> -->
                                            </div>
                                        </form>
                                    </div>
                                    <BR>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="display: none;">
                        <div class="collapsible-header active white-text amber darken-2">點燈</div>
                        <div class="collapsible-body amber lighten-5">
                            <div id="cLight"></div>
                            <p>
                                <a class="my-open-modal5 btn-floating waves-effect waves-light amber"><i class="mdi-content-add"> 新增</i></a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--   <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal2a btn-floating btn-large">
            <i class="mdi-social-person-add"></i>
        </a>
    </div> -->
</template>
