<template name="cPrint">
    <style>
    /*.pdf-show .modal {*/

    #modal1 {
        max-height: 85%;
        height: 85%;
        width: 90%;
    }

    /* .pdf-iframe {
        height: 100%;
    } */
    </style>
    <div id="modal1" class="pdf-show modal modal-fixed-footer" style="z-index: 999">
        <form class="form-modal1">
            <div class="modal-content">
                <h4 id="modal1-header-text" class="header">列印PDF
                <a id="pdf_url" href="#" target="_blank">第1份</a>

                <span class="my-extra-url-link"></span>

                </h4>
                <div class="divider"></div>
                <iframe id="pdf-iframe" class="pdf-iframe" width="100%" height="700" src="" border="0"></iframe>
            </div>
            <div class="modal-footer">
                <div class="modal1-error left pink-text lighten-1" style=""></div>
                <!-- <span>aaa</span> -->
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel1">關閉</a>
                <button class="my-btn-submit1 btn waves-effect waves-light" type="button" name="action">列印</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs tab-demo z-depth-1 blue darken-1" style="width: 100%;">
                <li class="tab col s3"><a class="active white-text blue" href="#test1">法會</a>
                </li>
                <li class="tab col s3 "><a class="my-test2 white-text blue" href="#test2">點燈</a>
                </li>
                <li class="tab col s3"><a class="my-test3 white-text blue" href="#test3">名冊</a>
                </li>
                <div class="indicator" style="right: 457px; left: 0px;"></div>
                <div class="indicator" style="right: 457px; left: 0px;"></div>
            </ul>
        </div>
        <div class="col s12">
            <div id="test1" class="col s12">
                <div class="col s12 m12 l2">
                    <br>
                    <form id="form-pray-filter">
                        <div class="col s6 m6 l12">
                            <div class="input-field col s12">
                                <select id="pray-year" name="year" class="browser-default">
                                    {{#each get_prayyear}}
                                    <option value="{{value}}" selected="{{isEqual now_use '-1'}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">法會年度</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="pray-prayname" name="prayname" class="browser-default ">
                                    <!-- <option value="" disabled selected>請選擇</option> -->
                                    {{#each get_pray1}}
                                    <option value="{{_id}}" selected="{{isEqual now_use '-1'}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">法會名稱</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="pray-prayitem" name="prayitem" class="browser-default ">
                                    <option value="" selected>全部</option>
                                </select>
                                <label class="active">法會項目</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="pray-type" name="type" class="browser-default">
                                    <option value="" selected>全部</option>
                                    {{#each get_praytype}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">列印種類</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="praystarttime" id="pray-start-time" class="datetimepicker" type="text">
                                <label class="active">建立時間(起)</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="prayendtime" id="pray-end-time" class="datetimepicker" type="text">
                                <label class="active">建立時間(止)</label>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="col s6 m6 l12">
                            <!-- <h6>PDF輸出類型</h6> -->
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test11a" checked="checked" value="11">
                                <label for="test11a">消災牌位</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test12a" value="12">
                                <label for="test12a">拔渡牌位</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test14a" value="14">
                                <label for="test14a">消 小牌</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test13" value="13">
                                <label for="test13">拔 小牌 冤親</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test14" value="14">
                                <label for="test14">拔 小牌 其他</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test1b" value="2">
                                <label for="test1b">油燈牌</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test1c" value="3">
                                <label for="test1c">疏文</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test1d" value="4">
                                <label for="test1d">功德名條</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test1e" value="5">
                                <label for="test1e">普施圓桌</label>
                            </div>
                            <div class="input-field col s12">
                                <BR>
                                <a class="my-open-modal1 btn waves-effect waves-light indigo">產生PDF</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12 m12 l10">
                    <BR>
                    <div id="pPray1"></div>
                </div>
            </div>
            <div id="test2" class="col s12" style="display: none;">
                <div class="col s12 m12 l2">
                    <br>
                    <form id="form-light-filter">
                        <div class="col s6 m6 l12">
                            <div class="input-field col s12">
                                <select id="light-year" name="year" class="browser-default">
                                    {{#each get_prayyear}}
                                    <option value="{{value}}" selected="{{isEqual now_use '-1'}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">點燈年度</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="light-type" name="type" class="browser-default ">
                                    <!-- <option value="" selected disabled>請選擇</option> -->
                                    <!-- <option value="0">全部</option> -->
                                    <option value="1">光明燈</option>
                                    <option value="3">藥師燈</option>
                                    <option value="5">光明大燈</option>
                                    <option value="7">藥師大燈</option>
                                </select>
                                <label class="active">列印燈種</label>
                            </div>

                            <div class="input-field col s12">
                                <!-- <input name="printdate" id="printdate" type="date" class="datepicker" value="{{get_today}}"> -->
                                <input name="printdate2" id="printdate2" type="text" class="text" value="{{get_today}}">
                                <label class="active" for="printdate">列印日期</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="lightstarttime" id="light-start-time" class="datetimepicker" type="text">
                                <label class="active">建立時間(起)</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="lightendtime" id="light-end-time" class="datetimepicker" type="text">
                                <label class="active">建立時間(止)</label>
                            </div>
                            <br>
                            <br>
                        </div>
                        <div class="col s6 m6 l12">
                            <!-- <h6>PDF輸出類型</h6> -->
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test5a" checked="checked" value="1">
                                <label for="test5a">標籤</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test5b" value="3">
                                <label for="test5b">簡易疏文</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="nowform" type="radio" id="test5c" value="5">
                                <label for="test5c">詳細疏文</label>
                            </div>
                            <div class="input-field col s12">
                                <BR>
                                <a class="my-open-modal3 btn waves-effect waves-light indigo">產生PDF</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12 m12 l10">
                    <BR>
                    <div id="pLight1"></div>
                </div>
            </div>
            <div id="test3" class="col s12" style="display: none;">
                <!--   <div class="col s12 m3 l3">
                    <br>
                    <div class="input-field col s12">
                        <a class="my-open-modal1 btn waves-effect waves-light indigo">簽到名冊</a>
                    </div>
                    <div class="input-field col s12">
                        <a class="my-open-modal1 btn waves-effect waves-light indigo">名冊封面</a>
                    </div>
                    <div class="input-field col s12">
                        <a class="my-open-modal1 btn waves-effect waves-light indigo">社員名冊</a>
                    </div>
                    <div class="input-field col s12">
                        <a class="my-open-modal1 btn waves-effect waves-light indigo">郵寄標籤</a>
                    </div>
                </div>  -->
                <div class="col s12 m12 l2">
                    <br>
                    <form id="form-member-filter">
                        <div class="col s6 m6 l12">
                            <h6>列印條件</h6>
                            <div class="input-field col s12">
                                <input name="my_print" type="radio" id="my_print1" checked="checked" value="1">
                                <label for="my_print1">全部(含社員護法)</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="my_print" type="radio" id="my_print2" value="2">
                                <label for="my_print2">社員</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="my_print" type="radio" id="my_print3" value="3">
                                <label for="my_print3">護法</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="checkbox" id="my-test6" />
                                <label for="my-test6">詳細條件</label>
                            </div>
                        </div>
                        <div class="col s6 m6 l12" id="mail-sel-detail" style="display: none;">
                            <div class="input-field col s12">
                            <br>
                            </div>
                            <div class="input-field col s12">
                                <select id="templeClass" name="templeClass" class="browser-default">
                                    <option value="" selected>請選擇</option>
                                    <option value="-1" >[全選]</option>
                                    <option value="-2" >[全不選]</option>
                                    {{#each get_class}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">班別</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="templeLevel" name="templeLevel" class="browser-default">
                                    <option value="" selected>請選擇</option>
                                    <option value="-1" >[全選]</option>
                                    <option value="-2" >[全不選]</option>
                                    {{#each get_level}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                                <label class="active">身份</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="mailThis" name="mailThis" class="browser-default">
                                    <!-- <option value="" selected>請選擇</option> -->
                                    <option value="">所有人</option>
                                    <option value="-1">有勾郵寄</option>
                                    <option value="0">無勾郵寄</option>
                                </select>
                                <label class="active">郵寄</label>
                            </div>
                            <div class="input-field col s12">
                                <select id="uniType" name="uniType" class="browser-default">
                                    <option value="0">無</option>
                                    <option value="1">地址唯一</option>
                                    <option value="2">姓名地址唯一</option>
                                </select>
                                <label class="active">唯一項目</label>
                            </div>
                            <br>

                        </div>
                        <br>
                        <br>
                        <div class="divider"></div>
                        <!-- <div class="divider"></div> -->
                        <div class="col s6 m6 l12">
                            <BR>
                            <BR>
                            <h6>PDF輸出類型</h6>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test1a" checked="checked" value="1">
                                <label for="test1a">簽到名冊</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test2b" value="2">
                                <label for="test2b">名冊封面</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test2c" value="3">
                                <label for="test2c">社員名冊</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test2d" value="41">
                                <label for="test2d">郵寄貼紙 7x2</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test2d2" value="42">
                                <label for="test2d2">郵寄貼紙 10x2</label>
                            </div>
                            <div class="input-field col s12">
                                <input class="ppeople" name="nowform" type="radio" id="test2e" value="5">
                                <label for="test2e">郵寄信封</label>
                            </div>
                            <p>&nbsp;</p>
                            <div class="input-field col s12">
                                <a class="my-open-modal2 btn waves-effect waves-light indigo">產生PDF</a>
                            </div>
                            <!-- <p>&nbsp;</p> -->
                            <!-- <div class="input-field col s12">
                                <input type="checkbox" name="isBound" id="isBound" checked="">
                                <label for="isBound">貼紙有邊界</label>
                            </div> -->
                            <p>&nbsp;</p>
                            <div class="input-field col s12">
                                <input name="printdate" id="printdate" type="date" class="datepicker" value="{{get_today}}">
                                <label class="active" for="printdate">列印日期</label>
                            </div>
                            <div class="input-field col s12">
                                <!-- <i class="mdi-content-mail prefix"></i> -->
                                <input name="bossname" id="bossname" type="text" class="text" value="{{get_chairname}}">
                                <label class="active" for="bossname">董事長名稱</label>
                            </div>
                        </div>
                    </form>
                    <!--            <div class="col s6 m6 l12">
                        <div class="input-field col s6">
                            <input name="range31" id="range31" type="text" class="text" value="">
                            <label class="active" for="range31">列印起始</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="range32" id="range32" type="text" class="text" value="">
                            <label class="active" for="range32">列印結束</label>
                        </div>
                    </div> -->
                </div>
                <div class="col s12 m12 l10">
                    <BR>
                    <div id="pPeople"></div>
                </div>
            </div>
            <div id="test4" class="col s12" style="display: none;">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                </ul>
            </div>
        </div>
    </div>
</template>
