<template name="eLight">
    <div id="modal1" class="modal modal-fixed-footer" style="z-index: 2">
        <form class="form-modal1">
            <div class="modal-content">
                <h4>新增點燈</h4>
                <!--    <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <select id="country" name="country" class="">
                                <option value="" disabled selected>請選擇</option>
                                {{#each get_countries}}
                                <option value="{{id}}">{{value}}</option>
                                {{/each}}
                            </select>
                            <label>地區</label>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="value" id="value" type="text" class="text">
                            <label for="value">名稱</label>
                        </div>
                    </div>
                </div>
                <!--  <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <div class="modal1-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel1">取消</a>
                <button class="my-btn-submit1 btn waves-effect waves-light" type="button" name="action">送出</button>
            </div>
        </form>
    </div>
    <div id="modal2" class="modal modal-fixed-footer" style="z-index: 2">
        <form class="form-modal2">
            <div class="modal-content">
                <h4>新增{{show_name}}項目</h4>
                <!--    <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <select id="country" name="country" class="">
                                <option value="" disabled selected>請選擇</option>
                                {{#each get_countries}}
                                <option value="{{id}}">{{value}}</option>
                                {{/each}}
                            </select>
                            <label>地區</label>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="name" id="name" type="text" class="text">
                            <label for="name">項目</label>
                        </div>
                    </div>
                </div>
                <!--  <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                </div> -->
                <input name="type_id" type="hidden" value="{{show_name_id}}">
                <input name="type_id_text" type="hidden" value="{{show_name}}">
            </div>
            <div class="modal-footer">
                <div class="modal2-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel2">取消</a>
                <button class="my-btn-submit2 btn waves-effect waves-light" type="button" name="action">送出</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s10 m4 l4">
            <div id="eLight1"></div>
            <p>
                <a class="my-open-modal1 btn-floating waves-effect waves-light purple"><i class="mdi-content-add"> 新增</i></a>
            </p>
        </div>
        <div id="show-detail" class="col s12 m8 l8">
            <div id="eLight2"></div>
            <p>
                <a class="my-open-modal2 btn-floating waves-effect waves-light purple"><i class="mdi-content-add"> 新增</i></a>
            </p>
        </div>
    </div>
    <BR>
    <BR>
    <BR>
    <BR>
<!--     <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal2 btn-floating btn-large">
            <i class="fa fa-plus"></i>
        </a>
    </div> -->
</template>
