<template name="eTclass">
    <div id="modal2" class="modal modal-fixed-footer" style="z-index: 2">
        <form class="form-modal2">
            <div class="modal-content">
                <h4>新增信眾班別 </h4>
             <!--    <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <select id="country" name="country" class="">
                                <option value="" disabled selected>請選擇</option>
                                {{#each get_countries}}
                                <option value="{{id}}">{{value}}</option>
                                {{/each}}
                            </select>
                            <label>地區</label>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="value" id="value" type="text" class="text">
                            <label for="value">名稱</label>
                        </div>
                    </div>
                </div>
               <!--  <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <div class="modal2-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel">取消</a>
                <button class="my-btn-submit btn waves-effect waves-light" type="submit" name="action">送出</button>
            </div>
        </form>
    </div>
    <div id="eTclass"></div>
    <BR><BR>
    <BR><BR>
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal2 btn-floating btn-large">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</template>
