<template name="eUsers">
    <div id="modal1" class="modal modal-fixed-footer">
        <form class="form-modal1">
            <div class="modal-content">
                <h4>管理使用者</h4>
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="code" id="code" type="text" class="text">
                            <label for="code">產品代碼</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="name" id="name" type="text" class="text">
                            <label for="name">產品名稱</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="input-field col s12">
                            <input name="ps" id="ps" type="text" class="text">
                            <label for="ps">備註</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"><p></p>
            </div> -->
            </div>
            <div class="modal-footer">
                <div class="modal1-error left pink-text lighten-1" style="padding: 10px;"></div>
                <a href="#" class="waves-effect waves-red btn-flat my-btn-cancel">取消</a>
                <!-- <a href="#" class="my-btn-submit waves-effect waves-green btn-flat">送出</a> -->
                <button class="btn waves-effect waves-light" type="submit" name="action">送出</button>
            </div>
        </form>
    </div>
    <!--     <div id="modal1-btn">
        <a class="my-open-modal1 waves-effect waves-light btn light-blue" href="#modal1"><i class="fa fa-plus"></i> 新增商品</a>
    </div> -->
    <!-- <br> -->
    <!-- <div id="divA" style="width: 100%;height:100%;display:inline-block;"></div> -->
    <div id="eUsers"></div>
    <br><br><br><br>
<!--     <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal1 btn-floating btn-large">
            <i class="fa fa-plus"></i>
        </a>
    </div> -->
</template>
